.friendList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item{
    text-decoration: none;
    display: flex;
    width: 260px;
    height: 70px;
    border: 1px solid black;
    padding: 5px;
    align-items: center;
    gap: 15px;
}

.name {
    font-weight: 600;
    font-size: 22px;
}

.true,
.false{
    width: 15px;
    border-radius: 50px;
    height: 15px;
    margin-left: 10px;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}