.transactionHistory{
    width: 600px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(194, 191, 191);
    margin-left: 30px;
    margin-top: 40px;
    border-collapse: collapse;
}

.tabelHead{
    background-color: rgba(142, 207, 231, 0.97);
    color: white;
    height: 45px;
}

.tabelHead th{
    border: 1px solid rgb(194, 191, 191);
}

.tabelTitle{
    font-weight: 500;
    font-family: sans-serif;
    width: 150px;
}

.tableBody td {
    padding: 10px;
    border: 1px solid #cfcdcd;
    color: rgb(104, 99, 99);
}

.tableBody tr:nth-child(even) {
    background-color: rgba(156, 224, 248, 0.97);
}
